sphinx-autorun
sphinx-jinja2
aiohttp
aiofiles
requests
pillow
Flask
sphinx-rtd-theme
sphinx-notfound-page
sphinx-hoverxref
sphinx-tabs
shot-scraper
Setuptools
git+https://github.com/ErRickow/ApiNyaEr@docs
sphinx-js
sphinx-copybutton
markupsafe==2.0.1
sphinx-rtd-dark-mode
cloudscraper
git+https://github.com/shawalli/pygments-lexer-apex.git#egg=pygments-lexer-apex